body {
    margin-top: 23.2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: #f3cca7
}

button {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.sankara{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(70, 20, 94, 0.8), rgba(73, 7, 7, 0.5)), rgb(26, 15, 7) center no-repeat;
    overflow: hidden; 
}

.alert {
    background-color: #df86eb;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    animation-name: alert;
    animation-duration: 1.5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 1px;
    color: #ffffff
}

@keyframes alert{
    0% {color: rgb(0, 0, 0); background-color: #da09be}
    34% {color: rgb(10, 4, 46); background-color: #f32ed9}
    67% {color: rgb(0, 0, 0); background-color: #d131a9}
    100% {color: rgb(3, 1, 1); background-color: #da09be}
}
.logForm {
    margin: 0;
    padding: 5;
    box-shadow: 0 15px 40px rgba(0,0,0,1);
}

.logTitle {
    color: rgb(221, 94, 215);
    font-weight: 300;
    animation-name: sankara;
    animation-duration: 11s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: 0px;
    font-stretch: ultra-expanded;
    font-size: 80px;
  }
  
  @keyframes sankara{
      0% {color: rgb(221, 181, 94);}
      13% {color: rgb(221, 190, 52);}
      25% {color: rgb(211, 150, 58);}
      38% {color: rgb(218, 99, 63);}
      50% {color: rgb(221, 151, 94);}
      63% {color: rgb(192, 3, 230);}
      75% {color: rgb(196, 52, 160);}
      80% {color: rgb(211, 163, 73);}
      88% {color: rgb(233, 190, 48);}
      100% {color: rgb(221, 208, 94);}
  }

.user {
    margin-bottom: 10px;
    height: 30px;
    width: 340px;
    font-size: 20px;
    font-family: monospace;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}


.log-in {
  background-color: #0c0c2e;
  border-radius: 4px;
  color: #d6ade2;
  font-size: 20px;
  height: 40px;
  width: 342px;
  outline:0;
  cursor: pointer;
}

.log-in:hover {
  background-color: #66027a;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color: #e7ac5e;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    cursor: pointer;
    margin-top: 500px;  
}

.link-button:hover {
    color: #d387eb; 
}


.canList{
    list-style-type: none;
}

.orderTable{
    font-size: 16px;
    table-layout: fixed;
    width: 45%;
    background-image: linear-gradient(200deg, #213636bd 90%, #310168bb 20%);
    padding: 3px;
    padding-left: 4px
}

.mainTable{
    font-size: 15px;
    table-layout: fixed;
    width: 100%;
    background-image: linear-gradient(200deg, #310168bb 20%, #213636bd 90%);
    padding: 3px;
}

.candleTable{
    font-size: 16px;
    table-layout: fixed;
    width: 90%;
    background-image: linear-gradient(200deg, #310168bb 20%, #213636bd 90%);
    padding: 3px;
}

.moreRow{
    font-size: 16px;
}

.tableRow{
    font-size: 16px;
    padding: 20px;
    background-image: linear-gradient(200deg, #a98ccebb 20%, #0f2525bd 90%);
    border: .5px;
    transition-property: background-color, color;
    transition-duration: .5s;

}

.tableRow:hover{
    background-color: rgb(111, 0, 126);
    color: rgb(160, 200, 206);
}

.tableRow:active{
    background-color:rgb(119, 186, 194);
    color: rgb(242, 208, 243)
}

table, th, tr {
    border: .5px solid rgb(31, 13, 83);
    height: 40px;
    color: rgb(255, 242, 227);
    box-shadow: inset -1px 3px 8px 3px #350404;
    border-radius: 2px;
    padding: 10px;
}

.candleView{
    
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
 }

.plainView{
    width: 450px;
    height: auto;
    border: 6px solid rgb(27, 17, 54);
    opacity: 1;
    margin-right: 50px;
    margin-bottom: 10%;
    margin-left: 50px;
    font-size: 20px;
    background-image: linear-gradient(110deg, #000000bb 37%, #02010fbd 95%);
}

.candleView .right {
    width: 450px;
    height: auto;
    border: 6px solid rgb(27, 17, 54);
    opacity: 1;
    margin-right: 50px;
    margin-bottom: 10%;
    margin-left: 50px;
    /* margin-top: 50px; */
    font-size: 20px;
    background-image: linear-gradient(110deg, #f5d7bc 37%, #f1c945bd 95%);
}

.candleCard {
    width: 450px;
    height: 300px;  
}

img{
    width: 100%;

}

.form {
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.addCandle{
    width: 100%;
    height: 100%;
    color: rgb(40, 6, 63);
    font-size: 20px;
    background-image: linear-gradient(200deg, #a98ccebb 20%, #215858bd 90%);
    border: 2px solid rgb(27, 17, 54);
    transition-property: background-color;
    transition-duration: .5s;
}

.addCandle:active{
    background-color: rgb(157, 80, 230);
}

.editCan{
    width: 50%;
    height: 100%;
    color: rgb(40, 6, 63);
    font-size: 20px;
    background-image: linear-gradient(200deg, #a98ccebb 20%, #215858bd 90%);
    border: .5px solid rgb(27, 17, 54);
    transition-property: background-color;
    transition-duration: .5s;
}

.discontinueCan{
    width: 50%;
    height: 100%;
    color: rgb(40, 6, 63);
    font-size: 20px;
    background-image: linear-gradient(200deg, #a98ccebb 20%, #215858bd 90%);
    border: .5px solid rgb(27, 17, 54);
    transition-property: background-color;
    transition-duration: .5s;
}

.bodyCol{
    text-align: center;
    padding: 8px;
    border: .1px solid rgb(27, 17, 54);
}
.smallCol{
    text-align: center;
    width: 15%;
}

.smallerCol{
    text-align: center;
    width: 35%;
}
.longInput{
    width: 200px
}
.shortInput{
    text-align: center;
    width: 70px
}

.formOutline{
    margin-left: 7px;
    border: 2px solid rgb(141, 102, 155);
    padding-left: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    margin-right: 40px;
    border-radius: 12px;
    box-shadow: 2px 3px #8f482c;
    background-color: #f8dcc2
}

.reviewOutline{
    border: 2px solid rgb(104, 75, 32);
    padding-left: 15px;
    padding-right: 50px;
    padding-bottom: 10px;
    border-radius: 12px;
    box-shadow: inset -1px 2px 4px 2px #b47c3d;
    background-image: linear-gradient(110deg, #eed6c2 34%, #f8d19e 95%);
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 20px
}

.reviewOutline2{
    border: 2px solid rgb(104, 75, 32);
    padding-left: 15px;
    padding-right: 50px;
    padding-bottom: 10px;
    border-radius: 12px;
    box-shadow: inset -1px 2px 4px 2px #b47c3d;
    background-image: linear-gradient(110deg, #eed6c2 34%, #f8d19e 95%);
    margin-bottom: 30px;
    width: 120px;
    font-size: 20px;
}

.reviewCandles{
    display: flex;
    overflow-y: auto;
}

.reviewCandlesContainer{
    width: 520px;
    position: inline-block;

}

.reviewCandles::-webkit-scrollbar {
    height: 18px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .reviewCandles::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      background-image: -webkit-gradient(linear,
                                         left bottom,
                                         right top,
                                         color-stop(0.14, rgb(244, 223, 252)),
                                         color-stop(0.57, rgb(134, 76, 167)),
                                         color-stop(0.86, rgb(243, 170, 225)));
  }
  
  .reviewCandles::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(218, 159, 70); 
    background-color: rgb(233, 198, 133);
    border-radius: 10px;
  }

input[type=checkbox] {
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    padding: 15px;
}

.dashboard{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px
}

.reviewPage{
    font-weight: 500;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px
}


.transaction{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.alertBox{
    width: 220px;
    margin-left: 20px;
    padding-left: 10px;
    background-color: #d6baf7;
    border-style: solid;
    border-width: 3px;
}

.editInput{
    padding: 20px
}

.candleHead{
    margin-left: 5px;
    font-size: 22px;
    font-weight: bold;
}
.candleBody{
    margin-left: 15px;
    font-size: 18px
}

.candleSelect{
    margin-top: 100px
}

.candleBut{
    padding: 5px;
    width: 100%
}

.shortInputQ{
    margin-left: 15px;
    text-align: center;
    width: 40px;
}

.shortInputStock{
 
    display: left;
    text-align: center;
    width: 70px;

}

.dateInput{
    background: #ffead8;
    border: #c47227;
    width: auto;
    height: auto;
    font-size: 15px;
    text-align: center;
}

.formBut{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    height: 50px;
    margin-right: 150px
}

.label{
    font-weight: bolder;
    text-shadow: -1px -1px 0 rgb(167, 108, 74);
    color: #644088;
}

.pageHeader{
    text-shadow: 1px .5px .7px #8e22a3;
}

.reviewHeader{
    text-shadow: 1px .5px .7px #8e22a3;
    font-size: 25px;
}

.reviewHeader2{
    text-shadow: 1px .5px .7px #8e22a3;
    font-size: 25px;
    margin-top: 60px
}

.secondHeader{
    font-weight: bolder;
    font-size: 25.5px;
    color: #2b0533;
    margin-bottom: 30px;
    text-decoration: underline;
}

.candleStock{
    font-size: 15px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .5} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .3} 
    to {opacity: 1}
  }

  .alertList{
    list-style-type: none;
    animation-name: alert2;
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes alert2{
    0% {color: rgb(0, 0, 0); color: #000000}
    34% {color: rgb(10, 4, 46); color: #a31891}
    67% {color: rgb(0, 0, 0); color: #000000}
}

.alertNote{
    font-size: 12px;
    margin-left: 10px
}